[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  NODE_VERSION = "18"
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_YOUTUBE_API_KEY"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
